<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% block title%}
    <title>Base</title>
    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!--Navbar-->
    <nav id="miNavBar" class="navbar navbar-expand-lg navbar-dark primary-color">
        {% load staticfiles %}
        <div class="logoImage">
            <img width="50" height="auto" src={% static "Logo_icon_profile.png" %} alt="miLogo">
        </div>
        <!-- Navbar brand -->

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courseinfo">Course Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courses">Courses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/iotdevelopers">IoT Developers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/mijobs">Jobs at MI</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/company">Company</a>
                </li>





            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    {% block content %} {% endblock %}
    <!--Navbar-->
    <nav id="bottomNavBar" class="navbar navbar-expand-lg navbar-dark primary-color">

        <!-- Navbar brand -->
        <div class="logoImage">
            <img width="50" height="auto" src={% static "Logo_icon_profile.png" %} alt="miLogo">
        </div>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="alignClass">

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="www.facebook.com/microfacturinginstitutes">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="linkedin.com/microfacturinginstitutes">Linkedin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="instagram.com/microfacturinginstitutes">Instagram</a>
                    </li>

                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->
        </div>

    </nav>
    <!--/.Navbar-->
    <script src=" " async defer></script>
</body>

</html>